.slides
{
    position: relative;

    height: 100vh;
    margin: 0;
    padding: 0;

    list-style: none;
}
.slide
{
    position: absolute;
    z-index: -100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity 1s;

    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.control
{
    position: absolute;

    color: rgba(255, 255, 255, .4);
    border: none;
    outline: none;
    background: none;

    @include lg-min
    {
        cursor: pointer;
    }

    &:nth-of-type(1)
    {
        top: calc(50% - 20vh);
        left: calc(50% - 20vh);

        height: 40vh;
        padding: 0;

        transition: opacity .5s ease-out;

        opacity: 0;

        &:hover
        {
            opacity: 1;
        }
    }
    &:nth-of-type(2)
    {
        top: 0;

        width: 10%;
        height: 100%;

        &:hover
        {
            background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0) ) ;
            text-shadow: 0 0 0 #fff;
        }
    }
    &:nth-of-type(3)
    {
        top: 0;
        right: 0;

        width: 10%;
        height: 100%;

        &:hover
        {
            background: linear-gradient(to left, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
            text-shadow: 0 0 0 #fff;
        }
    }
}
.active
{
    z-index: 0;

    opacity: 1;
}
.indicators
{
    position: absolute;
    z-index: 1;
    bottom: 0;

    display: flex;

    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: center;
}
.indicator
{
    width: 20px;
    height: 20px;
    margin: -40px 7.5px 0;

    border: 3px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    outline: none;
    background: none;
    background-clip: padding-box;

    @include lg-min
    {
        cursor: pointer;
    }
}
.indicator.active
{
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.fa-angle-left,
.fa-angle-right
{
    font-size: 40px;

    color: rgba(255, 255, 255, .4);
}
.fa-play-circle,
.fa-pause-circle
{
    font-size: 40vh;

    color: rgba(255, 255, 255, .4);
}
